@font-face {
    font-family: "Abril";
    src: url("rsc/AbrilFatface-Regular.otf") format("opentype");
}

#top-navbar{
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.content {
    margin-top: 80px;
    margin-left: 30px;
}
