@font-face {
    font-family: "Abril";
    src: url("rsc/AbrilFatface-Regular.otf") format("opentype");
}

#top-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    position: static;
    margin: 30px;
    margin-top: 80px;
}